
<div>
    <partial name="Header" />
</div>

<div>
    <partial name="CoOrdinatorSidebar" />
</div>

<div class="container">
    <main role="main" class="pb-3">
        <partial name="Notification" />
        @RenderBody()
    </main>
</div>

<div>

    <partial name="Footer" />
</div>


@await RenderSectionAsync("Scripts", required: false)

