@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box" style="margin-top:20px" style="border:1px solid black;">
        <a asp-controller="Home" asp-action="Index" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logos/scet-logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logos/SCETwide.png" alt="" height="20">
            </span>
        </a>

        <a asp-controller="Home" asp-action="Index" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logos/scet-logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logos/SCETwide.png" alt="" height="20">
            </span>
        </a>
    </div>
    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="~/Home/Index">
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <span>Companies</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-controller="Company" asp-action="Create">Add Company Details</a></li>
                        <li><a asp-controller="Company" asp-action="Index">View Company Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <span>Hirirng Companies</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-controller="Hiring" asp-action="CreateHiring">Add Hiring Details</a></li>
                        @*<li><a asp-controller="Hiring" asp-action="Index">View Hiring Details</a></li>*@
                    </ul>
                </li>
                <li>
                    <a asp-controller="Uploadcsv" asp-action="Index" class="waves-effect">
                        <span>Upload Student details</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Uploadcsv" asp-action="Department" class="waves-effect">
                        <span>Upload Department details</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Uploadcsv" asp-action="Sector" class="waves-effect">
                        <span>Upload Sector details</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="User" asp-action="Logout" class="waves-effect">
                        <span>Logout</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->