@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box" style="margin-top:20px" style="border:1px solid black;">
        <a asp-controller="Home" asp-action="Index" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logos/scet-logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logos/SCETwide.png" alt="" height="20">
            </span>
        </a>

        <a asp-controller="Home" asp-action="Index" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logos/scet-logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logos/SCETwide.png" alt="" height="20">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a href="~/Home/Index">
                        <i class="fas fa-home"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    @*<a href="javascript: void(0);" class="has-arrow waves-effect">
                        <span>Companies</span>
                    </a>*@<a asp-controller="Company" asp-action="Index">
                        <i class="fas fa-industry"></i>
                        <span>Company Details</span>
                        </a>
                </li>
                <li>
                    @*<ul class="sub-menu" aria-expanded="false">
                        <li></li>
                    </ul>*@
                    <a asp-controller="Hiring" asp-action="CordHiringCompanies">
                        <i class="fas fa-briefcase"></i>
                        <span>Hiring Details</span>
                        </a>
                </li>
                <li>
                    <a asp-controller="Uploadcsv" asp-action="Index">
                        <i class="fas fa-file"></i>
                        <span>Student's User details</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Department" asp-action="View_Department">
                        <i class="fas fa-university"></i>
                        <span>Departments Details</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Sector" asp-action="View_Sector">
                        <i class="fas fa-scroll"></i>
                        <span>Sectors Details</span>
                    </a>
                </li>

                <li>
                    <a asp-controller="Hiring" asp-action="StudentApplications">
                        <i class="fas fa-handshake"></i>
                        <span>Student Applications</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Export" asp-action="ReportView">
                        <i class="fas fa-sticky-note"></i>
                        <span>See Reports</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="User" asp-action="Logout" class="waves-effect">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->