@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor context;
<!-- ========== Left Sidebar Start ========== -->

<div class="vertical-menu">

    <!-- LOGO -->

    <div class="navbar-brand-box" style="margin-top:20px">
        <a asp-controller="Home" asp-action="Index" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logos/scet-logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logos/SCETwide.png" alt="" height="20">
            </span>
        </a>

        <a asp-controller="Home" asp-action="Index" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logos/scet-logo.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logos/SCETwide.png" alt="" height="20">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i><span class="badge rounded-pill bg-primary float-end"></span>
                        <span>Dashboard</span>
                    </a>
                </li>


                <li class="menu-title">Hiring</li>

                <li>
                  
                    <a asp-controller="Hiring" asp-action="HiringCompanies">
                        <i class="fas fa-industry"></i>
                        <span>View Hiring Details</span>
                    </a>
                        
                </li>

                <li class="menu-title">Profile</li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="far fa-address-book"></i>
                        <span>Your Profile</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a asp-controller="Student" asp-action="StudentProfile">
                                <i class="fas fa-id-card"></i>
                                <span>See Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="fas fa-school"></i>
                                <span>Educational Details</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a asp-controller="Student" asp-action="ViewTenthData">Class 10<sup>th</sup> details</a></li>
                                <li><a asp-controller="Student" asp-action="View12thData">Class 12<sup>th</sup> details</a></li>
                                <li><a asp-controller="Student" asp-action="ViewUGData">Under graduation</a></li>
                                <li><a asp-controller="Student" asp-action="ViewPGData">Post graduation</a></li>
                                <li><a asp-controller="Student" asp-action="ViewAQData">Additional Qualifications</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i class="fas fa-mail-bulk"></i>
                                <span>Job History</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a asp-controller="Student" asp-action="ViewInternships" class="waves-effect">Past Internships</a> </li>
                                <li><a asp-controller="Student" asp-action="ViewWorkExp" class="waves-effect">Job Experience</a> </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="Logout">
                                <i class="fas fa-sign-out-alt"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->