
@{
    ViewData["Title"] = "report";
}
<div class="main-content" style="width:105%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Report</h4>
                            <p class="card-title-desc">
                                View dynamically generated reports from here
                            </p>
                            <!--dropdown start-->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Select</label>
                                </div>
                                <select class="custom-select" id="sessionDropdown">
                                    <option value="">Choose</option>
                                    @foreach (var ss in ViewBag.sessiondd)
                                    {
                                        <option value="@ss.id">@ss.label</option>
                                    }
                                </select>
                                &nbsp;&nbsp;
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Select</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option value="0">Choose</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <!--dropdown end-->

                            @*<div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="inputGroupSelect01">Select</label>
                                </div>
                                <select class="custom-select" id="inputGroupSelect01">
                                    <option value="0">Choose</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>*@
                            <div id="studentTableContainer"></div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div>
    </div>
</div>
@section Scripts{
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#sessionDropdown').change(function () {
                var selectedSessionId = $(this).val();
                filterStduent(selectedSessionId);
            });
        });

        function filterStduent(sessionId) {
            $.ajax({
                url: '@Url.Action("FilterStudent", "Export")',
                type: 'POST',
                data: { sid: sessionId },
                success: function (data) {
                    $('#studentTableContainer').html(data);
                }
            });
        }
    </script>
}
