@model AdditionalQualif
@using Microsoft.AspNetCore.Mvc;
@inject IHttpContextAccessor context;
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Add new - Student Additional Qualification</h4>
                            <p class="card-title-desc">Verify all information again before insertion.</p>
                            <form asp-controller="Student" method="post" asp-action="AddAQData" class="needs-validation custom-validation" novalidate>
                                <input type="hidden" asp-for="student_id" value="@context.HttpContext.Session.GetInt32("studentid")" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="title">Title</label>
                                            <input asp-for="title" class="form-control" placeholder="enter title here" type="text" name="title" id="title">
                                            <span asp-validation-for="title" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="specialization">Specialization</label>
                                            <input asp-for="specialization" class="form-control" id="specialization" placeholder="enter your specialization" type="text" name="specialization" >
                                            <span asp-validation-for="specialization" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="other">Other</label>
                                            <input asp-for="other" class="form-control" placeholder="enter other information" type="text" name="other" id="other">
                                            <span asp-validation-for="other" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="other">Remarks</label>
                                            <input asp-for="remarks" class="form-control" placeholder="enter remarks" type="text" name="remarks" id="remarks">
                                            <span asp-validation-for="remarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="score">Marks scored out of total</label>
                                            <input asp-for="score" class="form-control" placeholder="enter marks scored" type="text" name="score" id="score">
                                            <span asp-validation-for="score" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="scoreoutof">Total Score</label>
                                            <input asp-for="scoreoutof" class="form-control" id="scoreoutof" placeholder="total marks here" type="text" name="scoreoutof">
                                            <span asp-validation-for="scoreoutof" class="text-danger"></span>
                                            
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}