@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_StudentLayout";
}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit your profile - Student</h4>
                <p class="card-title-desc">Verify all information again before updating.</p>
                <form class="needs-validation custom-validation" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom01">First name</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="your name" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid name.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom02">Last name</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="your surname" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid name.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom02">Father's name</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="your father's name" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid name.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                                   
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom02">Grandfather's name</label>
                                <input type="text" class="form-control" id="validationCustom02" placeholder="your grandfather's name" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a valid name.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom01">Enrollment number</label>
                                <input type="text" class="form-control" id="validationCustom01" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a input.
                                </div>
                            </div>
                        </div>

                    </div>
                       
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label">Phone number:</label>
                                <div>
                                    <input type="text" class="form-control" required data-parsley-type="digits"
                                                   data-parsley-minlength="10"  placeholder="phone number" />
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Contact number is Required.
                                    </div>
                                </div>

                            </div>
                        </div>
                            <div class="col-md-4">
                                    <div class="mb-3">
                                        <label class="form-label">Alternate contact:</label>
                                        <div>
                                            <input type="text" class="form-control" data-parsley-type="digits"
                                                    data-parsley-minlength="10" placeholder="alternate phone number" />
                                            
                                        </div>

                                    </div>
                             </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label class="form-label">Parent's contact:</label>
                                    <div>
                                        <input type="text" class="form-control" required data-parsley-type="digits"
                                                data-parsley-minlength="10" placeholder="parent's phone number" />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Contact info is Required.
                                        </div>
                                    </div>

                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-2">
                                <label class="form-label d-block mb-3">Gender :</label>

                                <div class="custom-radio form-check form-check-inline">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="form-check-input" required>
                                    <label class="form-check-label" for="customRadioInline1">Male</label>
                                                <div class="invalid-feedback">
                                                    select your gender
                                                </div>
                                </div>
                                <div class="custom-radio form-check form-check-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="form-check-input" required>
                                    <label class="form-check-label" for="customRadioInline2">Female</label>
                                                <div class="invalid-feedback">
                                                    select your gender
                                                </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label class="form-label">Email Address:</label>
                                <div>
                                    <input type="email" class="form-control" required data-parsley-type="digits"
                                            data-parsley-minlength="10" placeholder="e.g. abc@gmail.com" />
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Email is Required.
                                    </div>
                                </div>

                            </div>
                       </div>
                    </div>
                    <div class="row">
                            <div class="col-md-7">
                                <div class="mb-3">
                                    <label class="form-label">Residential Address</label>
                                    <div>
                                        <textarea required class="form-control" rows="2"></textarea>
                                         <div class="invalid-feedback">
                                        Address is Required.
                                    </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="form-label">Blood group</label>
                                    <div>
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom03">City</label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom04">State</label>
                                <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom05">Zip</label>
                                            <input type="text" class="form-control" id="validationCustom05" data-parsley-type="digits" data-parsley-minlength="6" placeholder="Zip" required>
                                <div class="invalid-feedback">
                                    Please provide a valid zip.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mb-3 row">
                                            <label class="form-label">Date of birth</label>
                                <div class="col-md-10">
                                    <input class="form-control" required type="date" value="" id="example-date-input">
                                    <div class="invalid-feedback">
                                        DOB is Required.
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-7">
                            <div class="mb-3">
                                <label class="form-label">Email Address:</label>
                                <div>
                                    <input type="email" class="form-control" required data-parsley-type="digits"
                                            data-parsley-minlength="10" placeholder="e.g. abc@gmail.com" />
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Email is Required.
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="mb-3">
                                    <label class="form-label">Permanent Address</label>
                                    <div>
                                        <textarea required class="form-control" rows="7"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="form-label">Permanent City:</label>
                                    <div>
                                        <input type="email" class="form-control" required data-parsley-type="digits"
                                                data-parsley-minlength="10" />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Input is Required.
                                        </div>
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Permanent State:</label>
                                    <div>
                                        <input type="email" class="form-control" required data-parsley-type="digits"
                                                data-parsley-minlength="10" />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Input is Required.
                                        </div>
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Permanent Zipcode:</label>
                                    <div>
                                        <input type="email" class="form-control" required data-parsley-type="digits"
                                                data-parsley-minlength="10" />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Input is Required.
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    <div class="row">
                                   
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom02">PAN number</label>
                                <input type="text" class="form-control" id="validationCustom02" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide your PAN number.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom01">AADHAR number</label>
                                <input type="text" class="form-control" id="validationCustom01" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a input.
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="mb-3">
                                <label class="form-label" for="validationCustom01">Driving Liscense</label>
                                <input type="text" class="form-control" id="validationCustom01" value="" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a input.
                                </div>
                            </div>
                        </div>

                    </div>

                     <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Language English</label>
                                    <div>
                                        <input type="email" class="form-control" required data-parsley-type="digits"
                                                       data-parsley-minlength="10" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                            <label class="form-label">Language Hindi:</label>
                                    <div>
                                        <input type="email" class="form-control" required data-parsley-type="digits"
                                                data-parsley-minlength="10" />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Input is Required.
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                            <label class="form-label">Language Gujarati:</label>
                                    <div>
                                        <input type="email" class="form-control" required data-parsley-type="digits"
                                                data-parsley-minlength="10" />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Input is Required.
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                            <label class="form-label">Language Other:</label>
                                    <div>
                                        <input type="email" class="form-control" required data-parsley-type="digits"
                                                data-parsley-minlength="10" />
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Input is Required.
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>
        <!-- end card -->
    </div> <!-- end col -->
    </div>

    </div>
    </div>
    </div>
