@model Internships
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit existing intership - Student</h4>
                            <p class="card-title-desc">Verify all information again before updation.</p>
                            <form asp-controller="Student" method="post" asp-action="EditInternship" class="needs-validation custom-validation" novalidate>
                                <input type="hidden" asp-for="id" class="form-control" >
                                <input type="hidden" asp-for="student_id" class="form-control" >
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_passyear">Internship Title</label>
                                            <input asp-for="title" class="form-control" id="title" name="title" placeholder="title here" type="text">
                                            <span asp-validation-for="title" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_school">Company name</label>
                                            <input asp-for="company" class="form-control" placeholder="enter company name" type="text" name="company" id="company">
                                            <span asp-validation-for="company" class="text-danger"></span>

                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_schooladdress">Internship Duration</label>
                                            <input asp-for="duration" class="form-control" placeholder="duration of internship" type="text" name="duration" id="duration">
                                            <span asp-validation-for="duration" class="text-danger"></span>


                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="mb-3">
                                            <label class="form-label" for="address">Address</label>
                                            <input asp-for="address" class="form-control" placeholder="address" type="text" name="address" id="address">
                                            <span asp-validation-for="address" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="city">City</label>
                                            <input asp-for="city" class="form-control" placeholder="internship city" type="text" name="city" id="city">
                                            <span asp-validation-for="city" class="text-danger"></span>

                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pincode">Pincode</label>
                                            <input asp-for="pincode" class="form-control" placeholder=" internship pincode" type="text" name="pincode" id="pincode">
                                            <span asp-validation-for="pincode" class="text-danger"></span>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="specialization">Specialization</label>
                                            <div>
                                                <input asp-for="specialization" class="form-control" id="specialization" placeholder="specialization" type="text" name="specialization"  />
                                                <span asp-validation-for="specialization" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="remarks">Remarks</label>
                                            <input asp-for="remarks" class="form-control" placeholder="remarks" type="text" name="remarks" id="remarks">
                                            <span asp-validation-for="remarks" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>


                                <button class="btn btn-primary" type="submit" onclick="if(!confirm('Are you sure that you want to update the specified details?'))return false">Submit form</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>

        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}