@model Student
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit your profile - Student Post Graduation Details</h4>
                            <p class="card-title-desc">Verify all information again before updating.</p>
                            <form asp-controller="Student" method="post" asp-action="edit_pg_data" class="needs-validation custom-validation" novalidate>
                                <input type="hidden" asp-for="id" />
                                <input type="hidden" asp-for="session_id" />
                                <input type="hidden" asp-for="user_id" />
                                <input type="hidden" asp-for="department_id" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_college">College name</label>
                                            <input asp-for="pg_college" class="form-control" placeholder="college name" type="text" name="pg_college" id="pg_college">
                                            <span asp-validation-for="pg_college" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_passyear">Year of passing</label>
                                            <input asp-for="pg_passyear" class="form-control" id="first_name" placeholder="passing year" type="text" name="pg_passyear" id="pg_passyear">
                                            <span asp-validation-for="pg_passyear" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_collegeaddress">College Address</label>
                                            <input asp-for="pg_collegeaddress" class="form-control" id="last_name" placeholder="address of college" type="text" name="pg_collegeaddress" id="pg_collegeaddress">
                                            <span asp-validation-for="pg_collegeaddress" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_collegepincode">College Pincode</label>
                                            <input asp-for="pg_collegepincode" class="form-control" id="enrollment" placeholder="pincode" type="text" name="pg_collegepincode" id="pg_collegepincode" >
                                            <span asp-validation-for="pg_collegepincode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_collegecity">College city</label>
                                            <input asp-for="pg_collegecity	" class="form-control" placeholder="college city" type="text" name="pg_collegecity" id="pg_collegecity">
                                            <span asp-validation-for="pg_collegecity" class="text-danger"></span>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_university">University Name</label>
                                            <input asp-for="pg_university" class="form-control" placeholder="board name" type="text" name="pg_university" id="pg_university">
                                            <span asp-validation-for="pg_university" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_scoreoutof">Total marks in post-graduation</label>
                                            <div>
                                                <input asp-for="pg_scoreoutof" class="form-control" id="alt_contact" placeholder="total marks" type="text" name="pg_scoreoutof" id="pg_scoreoutof" />

                                            </div>
                                            <span asp-validation-for="pg_scoreoutof" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_score">Marks scored in post-graduation</label>
                                            <input asp-for="pg_score" class="form-control" placeholder="scored marks" type="text" name="pg_score" id="pg_score">
                                            <span asp-validation-for="pg_score" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_gapno">Gap number:</label>
                                            <input asp-for="pg_gapno" class="form-control" id="permanent_address" placeholder="gap number" type="text" name="pg_gapno" id="pg_gapno">
                                            <span asp-validation-for="pg_gapno" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_gapyears">Gap(s) in years taken in post-graduation</label>
                                            <input asp-for="pg_gapyears" class="form-control" id="blood_group" placeholder="gaps taken in years" type="text" name="pg_gapyears" id="pg_gapyears">
                                            <span asp-validation-for="pg_gapyears" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_degree">Degree Name</label>
                                            <input asp-for="pg_degree" class="form-control" placeholder="quota" type="text" name="pg_degree" id="pg_degree">
                                            <span asp-validation-for="pg_degree" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="pg_admissionquota">Admission Quota</label>
                                            <input asp-for="pg_admissionquota" class="form-control" placeholder="quota" type="text" name="pg_admissionquota" id="pg_admissionquota">
                                            <span asp-validation-for="pg_admissionquota" class="text-danger"></span>
                                        </div>
                                    </div>


                                </div>


                                <button class="btn btn-primary" type="submit" onclick="if(!confirm('Are you sure that you want to update the specified details?'))return false">Submit form</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>

        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}