@model Student
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit your profile - Student Tenth Details</h4>
                            <p class="card-title-desc">Verify all information again before updating.</p>
                            <form asp-controller="Student" method="post" asp-action="EditTenthData" class="needs-validation custom-validation" novalidate>
                                <input type="hidden" asp-for="id" />
                                <input type="hidden" asp-for="session_id" />
                                <input type="hidden" asp-for="user_id" />
                                <input type="hidden" asp-for="department_id" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_school">School name</label>
                                            <input asp-for="ten_school" class="form-control" placeholder="School name" type="text" name="ten_school" id="ten_school">
                                            <span asp-validation-for="ten_school" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_passyear">Year of passing</label>
                                            <input asp-for="ten_passyear" class="form-control" id="first_name" placeholder="passing year" type="text" name="ten_passyear" id="ten_passyear">
                                            <span asp-validation-for="ten_passyear" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_schooladdress">School Address</label>
                                            <input asp-for="ten_schooladdress" class="form-control" placeholder="address of school" type="text" name="ten_schooladdress" id="ten_schooladdress">
                                            <span asp-validation-for="ten_schooladdress" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_schoolpincode">School Pincode</label>
                                            <input asp-for="ten_schoolpincode" class="form-control" placeholder="pincode" type="text" name="ten_schoolpincode" id="ten_schoolpincode">
                                            <span asp-validation-for="ten_schoolpincode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_schoolcity">School city</label>
                                            <input asp-for="ten_schoolcity" class="form-control" placeholder="school city" type="text" name="ten_schoolcity" id="ten_schoolcity">
                                            <span asp-validation-for="ten_schoolcity" class="text-danger"></span>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_board">Board name</label>
                                            <input asp-for="ten_board" class="form-control" placeholder="board name" type="text" name="ten_board" id="ten_board">
                                            <span asp-validation-for="ten_board" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_scoreoutof">Total marks in tenth</label>
                                            <div>
                                                <input asp-for="ten_scoreoutof" class="form-control" id="alt_contact" placeholder="total marks" type="text" name="ten_scoreoutof" id="ten_scoreoutof" />

                                            </div>
                                            <span asp-validation-for="ten_scoreoutof" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_score">Marks scored in tenth</label>
                                            <input asp-for="ten_score" class="form-control" placeholder="scored marks" type="text" name="ten_score" id="ten_score">
                                            <span asp-validation-for="ten_score" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_gapno">Gap number:</label>
                                            <input asp-for="ten_gapno" class="form-control" id="permanent_address" placeholder="gap number" type="text" name="ten_gapno" id="ten_gapno">
                                            <span asp-validation-for="permanent_address" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_gapyears">Gap(s) in years taken in tenth</label>
                                            <input asp-for="ten_gapyears" class="form-control" id="blood_group" placeholder="gaps taken in years" type="text" name="ten_gapyears" id="ten_gapyears">
                                            <span asp-validation-for="ten_gapyears" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_admissionquota">Admission Quota</label>
                                            <input asp-for="ten_admissionquota" class="form-control" placeholder="quota" type="text" name="ten_admissionquota" id="ten_admissionquota">
                                            <span asp-validation-for="ten_admissionquota" class="text-danger"></span>
                                        </div>
                                    </div>
                                   
                                </div>
                              

                                <button class="btn btn-primary" type="submit" onclick="if(!confirm('Are you sure that you want to update the specified details?'))return false">Submit form</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>

        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}