
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit existing intership - Student</h4>
                            <p class="card-title-desc">Verify all information again before updation.</p>
                            <form asp-controller="Student" method="post" asp-action="" class="needs-validation custom-validation" novalidate>
                          
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_passyear">Internship Title</label>
                                            <input class="form-control" id="first_name" placeholder="title here" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_school">Company name</label>
                                            <input class="form-control" placeholder="enter company name" type="text" name="ten_school" id="ten_school">
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_schooladdress">Internship Duration</label>
                                            <input class="form-control" placeholder="duration of internship" type="text" name="ten_schooladdress" id="ten_schooladdress">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_board">Address</label>
                                            <input class="form-control" placeholder="address" type="text" name="ten_board" id="ten_board">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_schoolcity">City</label>
                                            <input class="form-control" placeholder="internship city" type="text" name="ten_schoolcity" id="ten_schoolcity">
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_schoolpincode">Pincode</label>
                                            <input class="form-control" placeholder=" internship pincode" type="text" name="ten_schoolpincode" id="ten_schoolpincode">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_scoreoutof">Specialization</label>
                                            <div>
                                                <input class="form-control" id="alt_contact" placeholder="specialization" type="text" name="ten_scoreoutof" id="ten_scoreoutof" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ten_score">Remarks</label>
                                            <input class="form-control" placeholder="remarks" type="text" name="ten_score" id="ten_score">

                                        </div>
                                    </div>
                                </div>


                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>

        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}