@model Student
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit your profile - Student Twelfth Details</h4>
                            <p class="card-title-desc">Verify all information again before updating.</p>
                            <form asp-controller="Student" method="post" asp-action="update_student" class="needs-validation custom-validation" novalidate>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="surname">School name</label>
                                            <input asp-for="surname" class="form-control" placeholder="School name" type="text" name="surname" id="surname">
                                            <span asp-validation-for="surname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="first_name">Year of passing</label>
                                            <input asp-for="first_name" class="form-control" id="first_name" placeholder="passing year" type="text" name="first_name" id="first_name">
                                            <span asp-validation-for="first_name" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="last_name">School Address</label>
                                            <input asp-for="last_name" class="form-control" id="last_name" placeholder="address of school" type="text" name="last_name" id="surname">
                                            <span asp-validation-for="last_name" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="enrollment">School Pincode</label>
                                            <input asp-for="enrollment" class="form-control" id="enrollment" placeholder="pincode" type="text" name="enrollment" id="enrollment" readonly>
                                            <span asp-validation-for="enrollment" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="last_name">School city</label>
                                            <input asp-for="grand_father_name" class="form-control" placeholder="school city" type="text" name="grand_father_name" id="grand_father_name">
                                            <span asp-validation-for="grand_father_name" class="text-danger"></span>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="contact">Board name</label>
                                            <input asp-for="contact" class="form-control" placeholder="board name" type="text" name="contact" id="contact">
                                            <span asp-validation-for="contact" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="contact">Total marks in twelfth</label>
                                            <div>
                                                <input asp-for="alt_contact" class="form-control" id="alt_contact" placeholder="total marks" type="text" name="alt_contact" id="alt_contact" />

                                            </div>
                                            <span asp-validation-for="alt_contact" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="parent_contact">Marks scored in twelfth</label>
                                            <input asp-for="parent_contact" class="form-control" placeholder="scored marks" type="text" name="parent_contact" id="parent_contact">
                                            <span asp-validation-for="parent_contact" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="mb-3">
                                            <label class="form-label" for="permanent_address">Gap number:</label>
                                            <input asp-for="permanent_address" class="form-control" id="permanent_address" placeholder="gap number" type="text" name="permanent_address" id="permanent_address">
                                            <span asp-validation-for="permanent_address" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="blood_group">Gap(s) in years taken in twelfth</label>
                                            <input asp-for="blood_group" class="form-control" id="blood_group" placeholder="gaps taken in years" type="text" name="blood_group" id="blood_group">
                                            <span asp-validation-for="blood_group" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="city">Admission Quota</label>
                                            <input asp-for="city" class="form-control" placeholder="quota" type="text" name="city" id="city">
                                            <span asp-validation-for="city" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="city">Specialization</label>
                                            <input asp-for="city" class="form-control" placeholder="sprc." type="text" name="city" id="city">
                                            <span asp-validation-for="city" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>


                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>

        </div>
    </div>
</div>
