@model Student
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit your profile - Student Twelfth Details</h4>
                            <p class="card-title-desc">Verify all information again before updating.</p>
                            <form asp-controller="Student" method="post" asp-action="update_student" class="needs-validation custom-validation" novalidate>
                                <input type="hidden" asp-for="id" />
                                <input type="hidden" asp-for="session_id" />
                                <input type="hidden" asp-for="user_id" />
                                <input type="hidden" asp-for="department_id" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_school">School name</label>
                                            <input asp-for="twelve_school" class="form-control" placeholder="School name" type="text" name="twelve_school" id="twelve_school">
                                            <span asp-validation-for="twelve_school" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_passyear">Year of passing</label>
                                            <input asp-for="twelve_passyear" class="form-control" id="first_name" placeholder="passing year" type="text" name="twelve_passyear" id="twelve_passyear">
                                            <span asp-validation-for="twelve_passyear" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_schooladdress	">School Address</label>
                                            <input asp-for="twelve_schooladdress" class="form-control" placeholder="address of school" type="text" name="twelve_schooladdress" id="twelve_schooladdress">
                                            <span asp-validation-for="last_name" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_schoolpincode">School Pincode</label>
                                            <input asp-for="enrollment" class="form-control" id="twelve_schoolpincode" placeholder="pincode" type="text" name="twelve_schoolpincode" id="twelve_schoolpincode" readonly>
                                            <span asp-validation-for="twelve_schoolpincode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_schoolcity">School city</label>
                                            <input asp-for="twelve_schoolcity" class="form-control" placeholder="school city" type="text" name="twelve_schoolcity" id="twelve_schoolcity">
                                            <span asp-validation-for="twelve_schoolcity" class="text-danger"></span>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_score">Board name</label>
                                            <input asp-for="twelve_score" class="form-control" placeholder="board name" type="text" name="twelve_score" id="twelve_score">
                                            <span asp-validation-for="twelve_board" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_score">Total marks in twelfth</label>
                                            <div>
                                                <input asp-for="twelve_scoreoutof" class="form-control" id="alt_contact" placeholder="total marks" type="text" name="twelve_scoreoutof" id="twelve_scoreoutof" />

                                            </div>
                                            <span asp-validation-for="twelve_scoreoutof" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_score">Marks scored in twelfth</label>
                                            <input asp-for="twelve_score" class="form-control" placeholder="scored marks" type="text" name="twelve_score" id="twelve_score">
                                            <span asp-validation-for="twelve_score" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_gapno">Gap number:</label>
                                            <input asp-for="twelve_gapno" class="form-control" id="permanent_address" placeholder="gap number" type="text" name="twelve_gapno" id="twelve_gapno">
                                            <span asp-validation-for="twelve_gapno" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_gapyears">Gap(s) in years taken in twelfth</label>
                                            <input asp-for="twelve_gapyears" class="form-control" id="blood_group" placeholder="gaps taken in years" type="text" name="twelve_gapyears" id="twelve_gapyears">
                                            <span asp-validation-for="twelve_gapyears" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="twelve_admissionquota">Admission Quota</label>
                                            <input asp-for="twelve_admissionquota" class="form-control" placeholder="quota" type="text" name="twelve_admissionquota" id="twelve_admissionquota">
                                            <span asp-validation-for="twelve_admissionquota" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="citwelve_specializationty">Specialization</label>
                                            <input asp-for="twelve_specialization" class="form-control" placeholder="sprc." type="text" name="twelve_specialization" id="twelve_specialization">
                                            <span asp-validation-for="twelve_specialization" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>


                                <button class="btn btn-primary" type="submit">Submit form</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>

        </div>
    </div>
</div>
