@model Student
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Edit your profile - Student Under Graduation Details</h4>
                            <p class="card-title-desc">Verify all information again before updating.</p>
                            <form asp-controller="Student" method="post" asp-action="edit_ug_data" class="needs-validation custom-validation" novalidate>
                                <input type="hidden" asp-for="id" />
                                <input type="hidden" asp-for="session_id" />
                                <input type="hidden" asp-for="user_id" />
                                <input type="hidden" asp-for="department_id" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_college">College name</label>
                                            <input asp-for="ug_college" class="form-control" placeholder="College name" type="text" name="ug_college" id="ug_college">
                                            <span asp-validation-for="ug_college" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_passyear">Year of passing</label>
                                            <input asp-for="ug_passyear" class="form-control" id="first_name" placeholder="passing year" type="text" name="ug_passyear" id="ug_passyear">
                                            <span asp-validation-for="ug_passyear" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_collegeaddress">College Address</label>
                                            <input asp-for="ug_collegeaddress" class="form-control" id="last_name" placeholder="address of college" type="text" name="ug_collegeaddress" id="ug_collegeaddress">
                                            <span asp-validation-for="ug_collegeaddress" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_collegepincode">College Pincode</label>
                                            <input asp-for="ug_collegepincode" class="form-control" id="enrollment" placeholder="pincode" type="text" name="ug_collegepincode" id="ug_collegepincode">
                                            <span asp-validation-for="ug_collegepincode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_collegecity">College city</label>
                                            <input asp-for="ug_collegecity" class="form-control" placeholder="college city" type="text" name="ug_collegecity" id="ug_collegecity">
                                            <span asp-validation-for="ug_collegecity" class="text-danger"></span>
                                        </div>
                                    </div>



                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_university">University Name</label>
                                            <input asp-for="ug_university" class="form-control" placeholder="University name" type="text" name="ug_university" id="ug_university">
                                            <span asp-validation-for="ug_university" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_scoreoutof">Total marks in under-graduation</label>
                                            <div>
                                                <input asp-for="ug_scoreoutof" class="form-control" placeholder="total marks" type="text" name="ug_scoreoutof" id="ug_scoreoutof" onkeyup="check();" />

                                            </div>
                                            <span asp-validation-for="ug_scoreoutof" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_score">Marks scored in under-graduation</label>
                                            <input asp-for="ug_score" class="form-control" placeholder="scored marks" type="text" name="ug_score" id="ug_score" onkeyup="check();">
                                            <span asp-validation-for="ug_score" class="text-danger"></span>
                                            <span id="message"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_gapno">Gap number:</label>
                                            <input asp-for="ug_gapno" class="form-control" id="permanent_address" placeholder="gap number" type="text" name="ug_gapno" id="ug_gapno">
                                            <span asp-validation-for="ug_gapno" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_gapyears">Gap(s) in years taken in under-graduation</label>
                                            <input asp-for="ug_gapyears" class="form-control" id="blood_group" placeholder="gaps taken in years" type="text" name="ug_gapyears" id="ug_gapyears">
                                            <span asp-validation-for="ug_gapyears" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_degree">Degree Name</label>
                                            <input asp-for="ug_degree" class="form-control" placeholder="quota" type="text" name="ug_degree" id="ug_degree">
                                            <span asp-validation-for="ug_degree" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="ug_admissionquota">Admission Quota</label>
                                            <input asp-for="ug_admissionquota" class="form-control" placeholder="quota" type="text" name="ug_admissionquota" id="ug_admissionquota">
                                            <span asp-validation-for="ug_admissionquota" class="text-danger"></span>
                                        </div>
                                    </div>


                                </div>


                                <button class="btn btn-primary" id="btnSubmit" type="submit" onclick="if(!confirm('Are you sure that you want to update the specified details?'))return false">Submit form</button>
                            </form>
                        </div>
                    </div>
                    <!-- end card -->
                </div> <!-- end col -->
            </div>

        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>
    var check = function () {
        var total = Number(document.getElementById("ug_scoreoutof").value);
        var obtained = Number(document.getElementById("ug_score").value);

        if (total >= obtained) {
            document.getElementById("btnSubmit").disabled = false;
            document.getElementById("message").innerHTML = "";

        } else {
            document.getElementById("btnSubmit").disabled = true;

            document.getElementById("message").style.color = "red";
            document.getElementById("message").innerHTML = "Scored marks must be less than or equal to total marks.";

        }

    }
</script>