@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_StudentLayout";
}
<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-body">
                                <div>
                                    <h5 class="font-size-16 mb-4">12<sup>th</sup> Marksheet Details</h5>

                                    <div class="table-responsive">
                                        <table class="table table-nowrap table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Field</th>
                                                    <th scope="col">Value</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">01</th>
                                                    <td>School Name:</td>
                                                    <td>
                                                        schhol name here
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <th scope="row">02</th>
                                                    <td>Year of passing:</td>
                                                    <td>
                                                        2019
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">03</th>
                                                    <td><a href="#" class="text-dark">School Address</a></td>
                                                    <td>
                                                        address with pincode city
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <th scope="row">04</th>
                                                    <td><a href="#" class="text-dark">Board name:</a></td>
                                                    <td>
                                                        GSEB
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <th scope="row">05</th>
                                                    <td><a href="#" class="text-dark">Marks scored:</a></td>
                                                    <td>
                                                        300 out of 600
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">06</th>
                                                    <td>12<sup>th</sup> Gap number:</td>
                                                    <td>
                                                        none
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <th scope="row">07</th>
                                                    <td>12<sup>th</sup> Gap year(s):</td>
                                                    <td>
                                                        none
                                                    </td>


                                                </tr>
                                                <tr>
                                                    <th scope="row">08</th>
                                                    <td>Admission Quota:</td>
                                                    <td>
                                                        add quota
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <th scope="row">09</th>
                                                    <td>Specialization:</td>
                                                    <td>
                                                        add spec
                                                    </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end card -->
                            <div style="display:flex;justify-content:center">
                                <a asp-controller="Student" asp-action="Edit12Details" class="btn btn-primary waves-effect waves-light">Edit Your Results</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

