@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_StudentLayout";
}


<div class="main-content" style="width:100%;margin-left:10%;">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Companies you have applied for :</h4>
                            <p class="card-title-desc">
                                Check the status of your application 
                            </p>

                            <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Application date</th>
                                        <th>Application Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    <tr>
                                        <td>//name here//</td>
                                        <td>// stud. appl. created date here//</td>
                                        <td>
                                            <p type="button" class="btn btn-primary btn-sm waves-effect waves-light">Applied</p>
                                            <p type="button" class="btn btn-success btn-sm waves-effect waves-light">Selected</p>
                                            <p type="button" class="btn btn-danger btn-sm waves-effect waves-light">Rejected</p>
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-outline-primary ">
                                                <!--asp-controller="Company" asp-action="CompanyDetails" asp-route-id="1"-->
                                            Details
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
    </div>
</div>

