@model Company
@{
    ViewData["Title"] = "Create Company";
}
@{
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Add Company Details</h4>
                    </div>  
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body"> 
                            <form asp-controller="Company" asp-action="Create" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class=" col-form-label">CIF</label>
                                        <input asp-for="cif" class="form-control" type="text" name="cif" id="cif">
                                        <span asp-validation-for="cif" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class=" col-form-label">Company Name</label>
                                        <input asp-for="name" class="form-control" type="text" name="name" id="name">
                                        <span asp-validation-for="cif" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Contact</label>
                                        <input asp-for="contact" class="form-control" type="text" name="contact" id="contact">
                                        <span asp-validation-for="contact" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Alternate Contact</label>
                                        <input asp-for="alt_contact" class="form-control" type="text" name="alt_contact" id="alt_contact">
                                        <span asp-validation-for="alt_contact" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Email</label>
                                        <input asp-for="email" class="form-control" type="text" name="email" id="email">
                                        <span asp-validation-for="email" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">Alternate Email</label>
                                        <input asp-for="alt_email" class="form-control" type="text" name="alt_email" id="alt_email">
                                        <span asp-validation-for="alt_email" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-12 col-md-2">
                                        <label for="example-number-input" class="col col-form-label">About</label>
                                        <textarea asp-for="about" class="form-control" cols="40" rows="7" name="about" id="about"> </textarea>
                                        <span asp-validation-for="about" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>  
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}